# Ignore paddlex folder and all its contents
paddlex/
server/model_repo/blip-caption/1/blip_model_cache/
# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
